@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager
@inject IConfiguration Configuration

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
		var authUser = await UserManager.FindByNameAsync(User.Identity!.Name);

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @if (!string.IsNullOrWhiteSpace(authUser.ProfileImageName))
            {
                <img src="~/@Configuration["Paths:ProfileImages"]/@authUser.ProfileImageName" class="img-thumbnail"/>
            }
            else
            {
                <span>Hello @User.Identity?.Name!</span>
            }
			</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
