@model EditModel

<div class="card mt-3">
    <h5 class="card-header">Token</h5>
    <div class="card-body">
        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="Client.AccessTokenLifetime" class="col-sm-3 col-form-label">
                Access Token Lifetime
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="Client.AccessTokenLifetime">
            </div>
        </div>

        <!--Input - number-->
        <div class="form-group row">
            <label asp-for="Client.AbsoluteRefreshTokenLifetime" class="col-sm-3 col-form-label">
                Absolute Refresh Token Lifetime
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="Client.AbsoluteRefreshTokenLifetime">
            </div>
        </div>

        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="Client.SlidingRefreshTokenLifetime" class="col-sm-3 col-form-label">
                Sliding Refresh Token Lifetime
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="Client.SlidingRefreshTokenLifetime">
            </div>
        </div>

        <!--Select-->
        <div class="form-group row">
            <label asp-for="Client.RefreshTokenUsage" class="col-sm-3 col-form-label">
                Refresh Token Usage
            </label>
            <div class="col-sm-9">
                <select asp-for="Client.RefreshTokenUsage" asp-items="@Model!.RefreshTokenUsages" class="form-control single-select"></select>
            </div>
        </div>

        <!--Select-->
        <div class="form-group row">
            <label asp-for="Client.RefreshTokenExpiration" class="col-sm-3 col-form-label">
                Refresh Token Expiration
            </label>
            <div class="col-sm-9">
                <select asp-for="Client.RefreshTokenExpiration" asp-items="@Model.RefreshTokenExpirations" class="form-control single-select"></select>
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="Client.AllowedCorsOrigins" class="col-sm-3 col-form-label">
                Allowed Cors Origins
            </label>
            <div class="col-sm-9">
                <textarea asp-for="Client.AllowedCorsOrigins" class="form-control"></textarea>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.AlwaysSendClientClaims" class="col-sm-3 col-form-label form-check-label">
                Always Send Client Claims
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Client.AlwaysSendClientClaims" type="checkbox" class="form-check-input">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Client.AlwaysIncludeUserClaimsInIdToken" class="col-sm-3 col-form-label form-check-label">
                Always Include User Claims In Id Token
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Client.AlwaysIncludeUserClaimsInIdToken" type="checkbox" class="form-check-input">
                </toggle-button>
            </div>
        </div>
    </div>
</div>
