@page
@model Auth.Admin.Pages.ApiScopes.IndexModel
@{
    ViewData["Title"] = "API Scopes";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">API scopes</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <a asp-page="/ApiScopes/Edit" class="btn btn-outline-primary mb-3"><span class="fas fa-plus"></span> New API Scope</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var api in Model.ApiScopes)
                {
                    <tr>
                        <td>@api.Name</td>
                        <td class="text-right">
                            <a class="btn btn-primary" asp-page="/ApiScopes/Edit" asp-route-id="@api.Id"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-page="/ApiScopes/Delete" asp-route-id="@api.Id"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
