@page
@model Auth.Pages.Device.SuccessModel
@{
    ViewData["Title"] = "Device authorization success";
}

<div class="page-device-success">
    <div class="lead">
        <h1>
            Success
        </h1>
        <p>You have successfully authorized the device. You can now close this page.</p>
    </div>
</div>

