@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>
		<a href="/.well-known/openid-configuration" title="OpenID Connect" target="_blank">
			OpenID Connect Configuration</a> 
	</p>
</div>
